{% extends 'base.html' %}
{% block content %}
<br/>
<h3>Search Candidate Tweets</h3>
<form method="post"  action="/topics">
    <div class="form-group">
        <input type="text"  name="topics"  placeholder="topics">
    </div>
    <button type="submit" class="btn">Search Topics</button>
</form>
<br/>
<h3>Candidates</h3>
{% for user in users %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn" href="{{ url_for('user', name=user.name) }}" role="button">{{ user.name }}</a>
 </div>
{% endfor %}

<br/>

<h3>Candidates Top 5 Words</h3>
<div class="row">
{% if top_word  %}
{% for word in top_word %}
<div class="col-sm-6">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ word[0] }}</h5>
        {% for line in word[1] %}
        <p class="card-text">{{ line }}</p>
        {% endfor %}
    </div>
    </div>
</div>
{% endfor %}
{% endif %}
</div>

<br/>
<h3>Candidates Tweeting about Each Others</h3>
<div class="row">
        {% if candidate_names %}
        {% for trend in candidate_names %}
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ trend[0] }}</h5>
                <p class="card-text">{{ trend[1] }}</p>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
            

<br/>
<h3>Candidates Tweeting about US Trending Topics</h3>
{% if candidate_trends %}
    {% for trend in candidate_trends %}
        <li>{{ trend[0] }} - {{ trend[1] }}</li>
    {% endfor %}
    {% else %}
    <p>No trending</p>
{% endif %}
<br/>
<div class="widget widget_tag_cloud">
        <h3 class="widget-title">US Trending</h3>
        <div class="tagcloud">
            {% for trend in trends %}
            <a class="tag-cloud-link">
                {{ trend }}
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

